*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
    box-shadow: rgba(4, 255, 0, 0.4) 0px 10px 90px;
}
:root{
    --main-color:rgba(46, 139, 86, 0.846);
    --secound-color:#202020;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Noto Sans", sans-serif;
}
p{
    font-family: "Barlow Condensed", sans-serif;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.title .imgcon{
    width: 45px;
    text-align: center;
    position: relative;
}
.title .imgcon::after,
.title .imgcon::before{
    content: "";
    background-color:rgb(0, 255, 0);
    width: 100%;
    height: 5px;
    position: absolute;
    top: 60%;
    
}
.title .imgcon::after{
    right: -120%;
    border-radius: 0px 10px 10px 0px;
}
.title .imgcon::before{
    left: -120%;
    border-radius: 10px 0px 0px 10px;
}
.title h2{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 10px;
}
.title h2 span{
    color: rgb(17, 255, 0);
}
.totop.show{
    transform: translateX(0);
}
a{
    color: white;
    text-decoration: none;
}